<%#
  Level progress in a single target (language, machine…), list item version.

  Requires:
    @target
    @total_xp
    @new_xp
    @show_bar (true to show progress bar, false to not)

  Optional:
    @class (classes for li as string)
%>

<li class="level-counter <%= assigns[:class] %>">
  <strong class="level-prefix">
    <%= @target %>
  </strong>

  level
  <%= render("leveltext.html", assigns) %>

  <%= if @show_bar, do: render("progressbar.html", assigns) %>
</li>
