#profile-user-info {
  display: grid;
  grid-template: 'username'
                 'total-progress'
                 'profile-details'
                 / auto;
  row-gap: 0;
  column-gap: 40px;

  @media #{$md} {
    grid-template: 'username         total-progress'
                   'profile-details  total-progress'
                   / auto            1fr;
    align-items: center;
  }

  >#profile-username {
    grid-area: username;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 0;
    margin-top: 5px;

    >img {
      height: $h1-size;
      margin-right: 10px;
    }
  }

  >#profile-detail-list {
    grid-area: profile-details;

    list-style-type: none;
    padding-left: 0;
  }

  >#total-progress {
    grid-area: total-progress;

    h2 {
      margin-top: 0;
    }
  }
}

#main-stats-container {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;

  display: grid;
  grid-template: 'week-l'
                 'top-l'
                 'hour-x'
                 'top-fl'
                 'day-i'
                 'top-f'
                 'other-l'
                 'top-m'
                 'year-x'
                 'expl'
                 / auto;
  row-gap: 30px;
  column-gap: 20px;

  @media #{$md} {
    grid-template: 'week-l  week-l'
                   'top-l   top-l'
                   'hour-x  hour-x'
                   'day-i   top-f'
                   'top-fl  top-fl'
                   'top-m   other-l'
                   'year-x  year-x'
                   'expl    expl'
                  / 1fr     1fr;

    section.top-flows + section.day-info {
      border-right: 1px solid $accent-background;
    }
  }

  &.show-ad {
    grid-template: 'week-l'
                   'ad'
                   'top-l'
                   'hour-x'
                   'top-fl'
                   'day-i'
                   'top-f'
                   'other-l'
                   'top-m'
                   'year-x'
                   'expl'
                  / auto;

    @media #{$md} {
      grid-template: 'week-l  week-l  week-l  ad'
                     'top-l   top-l   top-l   top-l'
                     'hour-x  hour-x  hour-x  hour-x'
                     'day-i   day-i   top-f   top-f'
                     'top-fl  top-fl  top-fl  top-fl'
                     'top-m   top-m   other-l other-l'
                     'year-x  year-x  year-x  year-x'
                     'expl    expl    expl    expl'
                    / 1fr     1fr     1fr     auto;
    }
  }

  h4 {
    margin-top: 0;
  }

  .no-data {
    display: none;
  }

  #main-stats-explainer {
    grid-area: expl;

    border-top: 1px solid $accent-background;
  }
}
