<%= if not is_nil(@user) do %>
  <div id="profile-total-container" class="stripe stripe-accent">
    <%= @totals_graph.render_wrapper(assigns) %>
  </div>

  <%= if assigns[DataProviders.LastDayCoded].last_day_coded != nil do %>
    <%= Graphs.Catalogue.render_graphs(assigns) %>
  <% else %>
    <div class="stripe">
      <%= if not is_nil(@current_user) and @user.id == @current_user.id do %>
        <div class="startup-instructions">
          <h3>How to start</h3>
          <p>It's easy! Just follow these 4 simple steps.</p>

          <ol>
            <li>
              Go to <a href={Routes.machine_path(@socket, :list)}>your machines page</a> and create a machine.
            </li>

            <li>
              Install the
              <a href={Routes.page_path(@socket, :plugins)}><%= Application.get_env(:code_stats, :site_name) %> plugin</a>
              in your favourite editor.
            </li>

            <li>Copy your machine's API key to the plugin settings.</li>
            <li>Start writing code and you should see your gathered XP appear!</li>
          </ol>
        </div>
      <% else %>
        <div class="startup-instructions">
          <h3>It looks like this user hasn't written anything yet. 😮</h3>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="stripe">
    <h2>HTTP/2 404</h2>
    <p>The user was not found or you do not have permission to view this page.</p>
  </div>
<% end %>
